{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="cards-container">
    {% for game in games %}
    <div class="game-card-container">
        <a href="{{ url_for('game', game_id=game.id) }}" class="game-card">
            {% if game.cover %}
            <div class="game-cover">
                <img src="data:image/jpeg;base64,{{ game.cover|b64encode }}" alt="{{ game.title }}">
            </div>
            {% endif %}
            <div class="game-title">
                <div class="game-name">{{ game.title }}</div>
                <div class="game-type">
                    {% if game.type == 'link' %}
                        <img src="{{ url_for('static', filename='images/type/web.png') }}" alt="Web" class="type-icon">
                        <span>Web</span>
                    {% elif game.type == 'pygame' %}
                        <img src="{{ url_for('static', filename='images/type/pygame.png') }}" alt="Pygame" class="type-icon">
                        <span>Pygame</span>
                    {% elif game.type == 'unity' %}
                        <img src="{{ url_for('static', filename='images/type/unity.png') }}" alt="Unity" class="type-icon">
                        <span>Unity</span>
                    {% endif %}
                </div>
                {% if game.genre %}
                <div class="game-genre">{{ game.genre }}</div>
                {% endif %}
            </div>
        </a>
        <button class="favorite-btn" data-game-id="{{ game.id }}" data-is-favorite="{{ 'true' if game.id in favorite_game_ids else 'false' }}">
            {% if game.id in favorite_game_ids %}
                <span class="favorite-icon">★</span> Удалить из избранного
            {% else %}
                <span class="favorite-icon">☆</span> Добавить в избранное
            {% endif %}
        </button>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/favorites.js') }}"></script>
{% endblock %}
