                   {% extends 'base.html' %}

{% block content %}
{{ super() }}

{%for cat,msg in get_flashed_messages(True)%}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1 class="profile-container">Список постов</h1>

<div class="cards-container">
    {% for game in posts %}
    <a href="{{url_for('view_post',url=game.url)}}" class="game-card">
        {% if game.cover %}
        <div class="game-cover"><img src="data:image/jpeg;base64,{{ game.cover|b64encode }}" alt="{{game.title}}"></div>
        {% endif %}
        <div class="game-name">
            {{game.title}}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}