{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="profile-container">
    <h1>{{ post.title }}</h1>
</div>

<div class="post-layout">
    <div class="post-content-container">
        <div class="post-text">
            <p>{{ post.text | safe }}</p>
        </div>
    </div>
</div>

<!-- Блок комментариев -->
<div id="comments-section">
    <h3>Комментарии</h3>
    <form id="comment-form">
        <textarea id="comment-text" placeholder="Оставьте комментарий..." required></textarea>
        <button type="submit">Отправить</button>
    </form>
    <div id="comments-container"></div>
</div>

<script>
    window.entityId = {{ post.id }};
    window.entityType = "post";
</script>
<script src="{{ url_for('static', filename='js/comments.js') }}" rel="javascript"></script>

{% endblock %}