{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="profile-container">
    <h1>{{post.title}}</h1>
</div>


<div class="game-info-container">
    <div id="game-info" class="game-info">
        <p>{{ post.text | safe }}</p>
    </div>
</div>

<!-- Блок комментариев -->
<div id="comments-section">
    <h3>Комментарии</h3>
    <form id="comment-form">
        <textarea id="comment-text" placeholder="Оставьте комментарий..." required></textarea>
        <button type="submit">Отправить</button>
    </form>
    <div id="comments-container"></div>
</div>

<script src="{{url_for('static', filename='js/coments.js')}}" rel="javascript"></script>
{% endblock %}