{% extends "admin/base_admin.html" %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
<div style="position: relative;">
    <a href="javascript:history.back()" class="add_btn">
        Вернутся к списку
    </a>
</div>
<div class="form-container">
    <h1>Добавить игру</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" name="title" id="title" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea name="description" id="description" class="form-input" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="cover">Обложка (файл):</label>
            <input type="file" name="cover" id="cover" class="form-input" accept="image/*" required>
        </div>
        <div class="form-group">
            <label>Тип игры:</label>
            <div class="radio-group">
                <input type="radio" name="game_type" value="link" id="game_link" checked>
                <label for="game_link">Внешняя ссылка на игру</label>
                <input type="radio" name="game_type" value="pygame" id="game_pygame">
                <label for="game_pygame">Pygame игра</label>
            </div>
        </div>

        <div class="form-group" id="link_field">
            <label for="link">Cсылка на игру:</label>
            <input type="text" name="link" id="link" class="form-input">
        </div>

        <div class="form-group" id="pygame_fields" style="display: none;">
            <label for="game_zip">Архив с игрой:</label>
            <input type="file" name="game_zip" id="game_zip" class="form-input" accept=".zip">
            <label for="screenshots_zip">Архив со скриншотами:</label>
            <input type="file" name="screenshots_zip" id="screenshots_zip" class="form-input" accept=".zip">
        </div>

        <button type="submit" class="styled-button">Добавить игру</button>
    </form>
</div>
<script>
    document.querySelectorAll('input[name="game_type"]').forEach(radio => {
        radio.addEventListener('change', function() {
            document.getElementById('link_field').style.display =
                this.value === 'link' ? 'block' : 'none';
            document.getElementById('pygame_fields').style.display =
                this.value === 'pygame' ? 'block' : 'none';
        });
    });
</script>
{% endblock %}